@model Events.Web.Models.UpcomingPassedEventsViewModel

@{
    ViewBag.Title = "Public Events";
}

@Html.Partial("_Events")

@section scripts {
    @Scripts.Render("~/bundles/ajax")
    }

@*<div class="jumbotron">
        <h1>Events</h1>
    </div>*@
