body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.event-group-heading {
    background: yellow;
    padding: 10px;
    border-radius: 5px;
}
.event-box{
    width: 100%;
    background: lightgreen;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    word-wrap: break-word;
}
.alert {
    margin-top: 10px;
    background-color: hotpink;
    color: indigo;
    border: 2px solid blueviolet;
}